<div class ="header"> All Carrier </div>
<ul>
    <div class ="main-content">
    <% @carriers.each do |carrier| %>
        Name:  <%= carrier.name %>  <br>
        Cost: <%= carrier.cost %>  <br>
        Rating(Out of 5): <%= carrier.rating %> <br><br>
    <% end %>
    </div>
</ul>