<div class ="header"> All Carrier </div>
<ul>
    <% @carriers.each do |carrier| %>
        Name:  <%= carrier.name %>   Cost: <%= carrier.cost %>  Rating(Out of 5): <%= carrier.rating %> <br>
    <% end %>
</ul>