<div class ="header"> Welcome <%= @user.username %><br>
Your Info: </div>

<div class ="main-content">
    Name:<%= @user.name %><br>
    Email:<%= @user.email %><br>
    Username:<%= @user.username %><br>
</div>


