<h1>Index Page </h1>

<ul>
    <% @activations.each do |activation| %>
        Phone Number:  <%= activation.phone_number %>  <br> 
       
        Activated By: <%= activation.user.name %> <br>

    <% end %>
</ul>
