<h1>Index Page </h1>

<ul>
    <% @activations.each do |activation| %>
        Phone Number:  <%= activation.phone_number %>  <br> 
       
        Activated By: <%= activation.user.name %> <br>

        <%= link_to 'Details about this activation', activation_path(activation.id) %><br>
        <br>
        <br>
        
    <% end %>
</ul>
