<div class="header"> Details about the activation </div>
<div class ="main-content">
Phone Number: <%= @activation.phone_number %><br>
IMEI: <%= @activation.IMEI %><br>
Activated Device: <%=@activation.phone.model %><br>
Carrier: <%=@activation.carrier.name %>
</div>